@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Car Service</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Car Service</h2>
        <p>
            This is a sample MVC ASP.Net application
        </p>
    </div>
</div>
